ADMIN_EMAIL=
ADMIN_PASSCODE=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
FIREBASE_API_KEY=
GEMINI_API_KEY=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_ENV=
MPESA_PASSKEY=
MPESA_STORE_NUMBER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
